{% extends "website/pagina_estatica.html" %}
{% load static %}
{% load website_tags %}

{% block titulo_extra %} | Sobre{% endblock %}

{% block head_title %}Sobre{% endblock %}

{% block texto %}
  <div class="col-md-6 col-md-offset-3">
    <h2 class="section-title">Radar Legislativo</h2>
    <p>Radar Legislativo é uma plataforma de monitoramento de projetos de lei relacionados à Internet e tecnologias digitais que estão em discussão no Congresso Nacional.</p>

    <p>Vários projetos de lei (PL) estão sendo propostos para lidar com os desafios emergentes da sociedade digital e, enquanto algumas dessas propostas são realmente necessárias, muitas acabam ameaçando Direitos Humanos fundamentais e o funcionamento aberto, decentralizado e plural da rede. Por isso, o Radar, desenvolvido em código aberto, visa ajudar defensorxs de direitos na rede a acompanhar o que acontece em nosso legislativo.</p>

    <p>Seguindo o Radar você:</p>

    <ul>
      <li>Acessa um mapeamento atualizado de PLs que dizem respeito aos meios digitais de acordo com cinco eixos temáticos:
        <ul>
  	<li>Acesso à Internet</li>
  	<li>Gênero</li>
  	<li>Privacidade</li>
  	<li>Liberdade de Expressão</li>
  	<li>Inovação</li>
        </ul>
      </li>

      <li>Pode monitorar o andamento de cada PL no processo legislativo e filtrá-los segundo: últimos andamentos, casa legislativa e comissões temáticas em que tramitam, bem como de acordo com o potencial de ameaça ou de proteção ao direitos que o texto em questão propõe;</li>

      <li>Acessa análises que as organizações que fazem parte da <a href="https://direitosnarede.org.br/">Coalizão Direito na Rede</a> produziram para alguns dos PLs. Com isso, a plataforma funciona também como um repositório de conteúdo crítico, visando facilitar o entendimento e engajamento nos debates sobre os projetos de lei.</li>

      <li>Encontra a <a href="{% url 'website:agenda' %}">"Agenda da Semana"</a>, onde analisamos as pautas das comissões e dos Plenários do Senado Federal e da Câmara dos Deputados que dizem respeito aos PLs que tratam do meio digital e informamos quando audiências públicas, votações e seminários sobre tecnologia e Internet acontecem no Legislativo. Na Agenda da Semana, também listamos os novos Projetos de Lei apresentados no Congresso, que passarão a integrar o Radar para serem monitorados.</li>

      <li>Entende um pouco mais sobre o processo legislativo visitando nosso <a href="{% url 'website:cenario_legislativo' %}">infográfico interativo</a>. Afinal, sabemos que não é fácil entender a confusão que acontece no Congresso Nacional.</li>

      {% if graph_url %}
      <li>Pode visualizar em um <a href="{{ graph_url }}">grafo interativo</a> dos PLs, seus/suas autores(as) e as ligações entre eles (como projetos que estão apensados ou que compartilham de um mesmo autor ou mesmo tema).</li>
      {% endif %}
    </ul>

    <p>Para quem quiser receber as notificações das tramitações no celular, o nosso bot no Telegram informa periodicamente quais foram as últimas movimentações dentre os PLs que mapeamos. Basta, no Telegram, dar um oi pro <a href="https://telegram.me/tramitabot">@TramitaBot</a> e pedir para que ele te cadastre -- ou então só dar uma olhadinha nas últimas tramitações do dia, sem compromisso!</p>
  </div>
{% endblock %}

{% block conteudo_extra %}

  <div class="links-destaque container-fluid">
    <a href="https://gitlab.com/codingrights/radarlegislativo" target="_blank">
      <div class="col-xs-6 col-md-5 col-md-offset-1">
        <img src="{% static 'img/logo-gitlab.svg' %}" alt="">
        <p>colabore <strong>no Gitlab</strong></p>
      </div>
    </a>

    <a href="https://telegram.me/TramitaBot" target="_blank">
      <div class="col-xs-6 col-md-5">
        <img src="{% static 'img/logo-telegram.svg' %}" alt="">
        <p>acompanhe <strong>no Telegram</strong></p>
      </div>
    </a>
  </div>

  <div class="conteudo-principal container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>O Radar é desenvolvido pela Coding Rights, uma organização liderada por mulheres dedicada a promover a compreensão sobre o funcionamento de tecnologias digitais e expor as assimetrias de poder que podem ser ampliadas por seu uso. Nosso trabalho envolve o monitoramento, análise e desenvolvimento de códigos legais, culturais e de programação para influenciar políticas públicas e incentivar boas práticas.</p>

		<p>Sendo software livre, o código do Radar Legislativo pode ser usado para criar bases de dados independentes de monitoramento do legislativo, de acordo com as pautas e prioridades de outras organizações. O <a href="http://legislativo.ibccrim.org.br">Projetor Legislativo</a> foi o primeiro projeto a fazer isso, iniciativa do <a href="https://www.ibccrim.org.br/">Instituto Brasileiro de Ciências Criminais (IBCCRIM)</a>. Recomendamos que essas plataformas sejam criadas em parceria conosco para que todas as plataformas se beneficiem mutuamente de melhorias desenvolvidas por cada uma.</p>
      </div>
    </div>
  </div>

  <div class="creditos container">
    <div class="row">
      <!-- FILTROS -->
      <div class="col-md-6 col-md-offset-3">
        <h2 class="section-title">créditos</h2>

        <h4>CONCEPÇÃO</h4>
        <p>Yasodara Córdova, Joana Varon e Lucas Teixeira</p>
        <h4>GESTÃO</h4>
		<p>Lucas Teixeira e Bruna Santos</p>
        <h4>DESENVOLVIMENTO</h4>
		<p><a href="https://gitlab.com/codingrights/radarlegislativo/blob/master/CONTRIBUTORS.md">Quem já colaborou com o projeto</a></p>
        <h4>DESIGN E UX</h4>
        <p>Steffania Paola</p>
        <h4>COMUNICAÇÃO</h4>
        <p>Carol Monteiro, Erly Guedes e Amarela</p>
        <h4>CONSULTORIA EM ASSUNTOS LEGISLATIVOS</h4>
        <p>Bruna Santos e Kimberly Anastácio</p>
        <h4>INFOGRAFIA</h4>
        <p>Daniel Roda e Kimberly Anastácio</p>
        <h4>COLABORAÇÃO</h4>
        <p>Coalizão Direitos na Rede</p>
      </div>
    </div>
  </div>

  <div class="creditos-organizacoes">
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-sm-4">
          <h3>Realização</h3>
        </div>
        <div class="col-sm-4">
          <h3>Colaboração</h3>
        </div>
        <div class="col-sm-4">
          <h3>Apoio</h3>
        </div>
      </div>
      <div class="row table-row-sm logos">
        <div class="col-sm-4">
          <h3 class="visible-xs-block">Realização</h3>
          <a href="http://codingrights.org"><img src="{% static 'img/logoCR.svg' %}" width="150" alt="Coding Rights"></a>
        </div>
        <div class="col-sm-4">
          <h3 class="visible-xs-block">Colaboração</h3>
          <a href="https://direitosnarede.org.br"><img src="{% static 'img/logo-horizontal-coalizao-direitosnarede.png' %}" width="400" alt="Coalizão Direitos na Rede"></a>
        </div>
        <div class="col-sm-4">
          <h3 class="visible-xs-block">Apoio</h3>
          <a href="https://www.fordfoundation.org"><img src="{% static 'img/logo-ford.png' %}" width="200" alt="Ford Foundation"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
