@import "../bootstrap/less/variables.less";

//== Colors
@white: #ffffff;
@iris: #5f63bc;
@dusky-blue: #5256a0;
@powder-blue: #a1c7f6;
@dark-cream: #ffe38a;
@ochre: #bc9107;
@tomato: #d72121;
@sun-yellow: #f8e81c;
@aqua-marine: #50e3c2;
@pinkish-grey: #bfbfbf;
@black: #000000;
@dark-sky-blue: #4990e2;
@sepia: #8b572a;
@bright-sky-blue: #2cbffc;
@dark-cream-two: #fff294;
@coral: #ef5b5b;
@light-khaki: #f2eab1;
@golden-yellow: #e2b423;
@brownish-grey: #696969;
@black-two: #2b2929;
@pale-grey: #f2f3f6;
@light-grey: #ececec;
@ochre-dark: #765e10;
@border-grey: #e9e9e9;
@black-three: #363636;
@warm-grey: #757575;
@archived-grey: #f9f8f8;
@pinkish-grey-two: #cac6c6;
@white-grey: #fafafa;
@light-border-grey: #d2d2d2;
@old-grey: rgba(247, 245, 245, 0.36);
@duck-egg-blue: #daf2fc;
@light-grey-coral: #d6d6d6;
@white-divider: #f0f0f0;
@greyish-brown: #424040;
@disabled-silver: #dcdce1;
@agenda-grey: #f7f5f5;
@grey-bg-filters: #fbfbfb;
@grey-border-agenda: #d3d3d3;
@grey-border-pagination: #eceeef;

//== Buttons
@btn-default-color:              @black-three;
@btn-default-bg:                 @white;
@btn-default-border:             @border-grey;

//== Grid system
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;


@padding-base-vertical:	    10px;
